<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nizar.specialgirl"
    android:installLocation="preferExternal">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:noHistory="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".java.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".java.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.ResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.ContohCardView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.ContohListView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".java.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".java.LoginActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".java.TidakTersedia"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".java.LoginGoogle"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <!-- Kalo lu mau pake kotlin lu bisa pake mainfest ini,
        tinggal ilangin komennya aja, dan yang javanya lu komen / delete seterah

        <activity
            android:name=".kotlin.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kotlin.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.ResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.ContohCardView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.ContohListView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".kotlin.LoginActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".kotlin.TidakTersedia"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".kotlin.LoginGoogle"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

            batasnya cuma ini aja, pelajarin kotlin, liat perbedaan di package java biar paham.
            sengaja ga gw ilangin biar lu paham sendiri.-->

    </application>

</manifest>